body	
		{	margin: 1em 0% 0em 10px;
			font: small verdana, arial, sans-serif;
			background: #ffffff;
			color: black;
			cursor: default 
		}

p 
	{	margin: 20px 40px 20px 25px;
		font: small verdana,arial, sans-serif;
		text-align: justify;
		color: #000000;
		background: #ffffff;
	}

p.small 
	{	margin: 20px 20px 20px 25px;
		font: x-small verdana,arial, sans-serif;
		text-align: justify;
		background: white;
		color:black;
	}

p.flushselect
	{	margin: 0px 0px 0px 0px;
		font: small verdana,arial, sans-serif;
		text-align: justify;
		background: lightyellow;
		color:black;
	}

p.captionselect
	{	margin: 2px 2px 2px 2px;
		font: small verdana,arial, sans-serif;
		text-align: left;
		background: lightyellow;
		color:black;
	}

p.capold
	{	margin: 2px 2px 2px 2px;
		font: small verdana,arial, sans-serif;
		text-align: left;
		background: white;
		color:black;
	}

p.flush
	{	margin: 0px 0px 0px 0px;
		font: small verdana,arial, sans-serif;
		text-align: justify;
		background: white;
		color:black;
	}

p.flushmid
	{	margin: 0px 0px 0px 0px;
		font: small verdana,arial, sans-serif;
		text-align: center;
		background: white;
		color:black;
	}

p.flushmidsel
	{	margin: 0px 0px 0px 0px;
		font: small verdana,arial, sans-serif;
		text-align: center;
		background: lightyellow;
		color:black;
	}


li	
	{	font: small verdana,arial, sans-serif;
		margin: 0 10px 0 10px;
	} 

ul	
	{	margin: 0.5em 40px 0.5em 40px;
		list-style: outside; 
	}

img 
	{ 
		border: none;
		padding: 0em;
	}

a:link 
	{	color: #000000;
		background: transparent;
		text-decoration: underline; 
	}

a:active 
	{	color: #000080;
		background: transparent;
		text-decoration: underline; 
	}

a:visited 
	{	color: #000080;
		background: transparent;
		text-decoration: underline;
	}

a:hover {	color: #ad383b;
			background-color: #D8E1F0;;
			text-decoration: underline; 
		}

h1	{	color: #000080;
		background:#ffffff;
		margin: 1.35em 5px 1em 25px;
		font: bold large sans-serif;
	}
	
h2	{	color: #FFA500;
		background:#ffffff;
		margin: 1.35em 5px 1em 25px;
		font: bold medium sans-serif;
	}

h3	{	color: #000080;
		background:#ffffff;
		margin: 1em 5px 1em 25px;
		font: bold small sans-serif;
	}

td.date {
	background: white; 
	font: small verdana,arial, sans-serif; 
	color: black; 
	text-align:center;
	vertical-align:middle;
	border:1px solid silver;
	width:15%;
}

td.version {
	background: white; 
	font: small verdana,arial, sans-serif; 
	color: black; 
	text-align:center;
	vertical-align:middle;
	border:1px solid silver;
	width:10%;
}

td.datesel {
	background: lightyellow; 
	font: small verdana,arial, sans-serif; 
	color: black; 
	text-align: center;
	vertical-align:middle;
	border:1px solid silver;
	width:15%;
}

td.versionsel {
	background: lightyellow; 
	font: small verdana,arial, sans-serif; 
	color: black; 
	text-align: center;
	vertical-align:middle;
	border:1px solid silver;
	width:10%;
}

td.bord {
border:1px solid #FFA500;
}

td.cent {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

td.centsel {
  background-color: #FFA500;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

table.bigbugga {
	text-align: left;
	font: small verdana,arial, sans-serif; 
	width: 98%;
	margin-left:auto;
	margin-right: 2%;
	border:1px solid #FFA500;
}	

table.screenshots {
	text-align: center;
	width: 80%;
	margin-left: 10%;
	margin-right:10%;
	border:1px solid silver;
}	

table.helpimage {
	text-align: center;
	margin-left: auto;
	margin-right:auto;
	border:1px solid silver;
}	


td.thumb {
	width:110px;
	font: xx-small verdana,arial, sans-serif; 
	color: black; 
	background: white; 
	border-color:black;
	border:1px solid silver;
	text-align: center;
	vertical-align:middle;
}

td.select {
	background: lightyellow; font: small verdana,arial, sans-serif; color: 1px solid silver; text-align: left
}

td.blank {
	background: white; font: small verdana,arial, sans-serif; color: 1px solid silver; text-align: left
}

td.capselect {
	background: lightyellow; font: small  verdana,arial, sans-serif; border: 1px solid silver; text-align: left
}

td.cap {
	background: white; font: small  verdana,arial, sans-serif; border: 1px solid silver; text-align: left
}

table.news {
	text-align: center;
	width: 80%;
	margin-left: 10%;
	margin-right:10%;
	border: 1px solid silver;
}