TDGLCADENCER BITMAP  vcl\DGLCadencer.bmp       
TDGLMATERIALLIBRARY BITMAP  vcl\DGLMaterialLibrary.bmp
TDGLSCENE BITMAP vcl\DGLScene.bmp
TDGLSCENEVIEWER  BITMAP vcl\DGLSceneViewer.bmp    
TDGLSHADERLIBRARY  BITMAP vcl\DGLShaderLibrary.bmp  
TDGLAPPLICATIONFILEIO  BITMAP vcl\DGLApplicationFileIO.bmp 
TDGLLOGGER  BITMAP vcl\DGLSLogger.bmp 
TDGLSYNHIMEMO  BITMAP vcl\DGLSynHiMemo.bmp 
TDGLARCHIVEMANAGER  BITMAP vcl\DGLArchiveManager.bmp 
TDGLASYNCTIMER  BITMAP vcl\DGLAsyncTimer.bmp 
TDGLSOUNDLIBRARY BITMAP vcl\DGLSoundLibrary.bmp 
TDGLSMWAVEOUT BITMAP vcl\DGLSMWaveOut.bmp 
TDGLSMOPENAL BITMAP vcl\DGLSMOpenAL.bmp 