OmniLightTexture RCDATA fmx\OmniLightTexture.dds
ParallelLightTexture RCDATA fmx\ParallelLightTexture.dds
ParallelSpotLightTexture RCDATA fmx\ParallelSpotLightTexture.dds
SpotLightTexture RCDATA fmx\SpotLightTexture.dds