BACKGROUND BITMAP "Background.bmp"
MaterialSystem RCDATA "MaterialSystem.XML"
DEFAULTMATERIAL RCDATA "DEFAULTMATERIAL.XML"
DEFAULTDIFFUSEMAP RCDATA "DEFAULTDIFFUSEMAP.DDS"
DEFAULTNORMALMAP RCDATA "DEFAULTNORMALMAP.DDS"
DEFAULTMESH RCDATA "DEFAULTMESH.XML"


