BACKGROUND BITMAP "Background.bmp"
MaterialSystem RCDATA "MaterialSystem.xml"
DEFAULTMATERIAL RCDATA "DEFAULTMATERIAL.xml"
DEFAULTDIFFUSEMAP RCDATA "DEFAULTDIFFUSEMAP.DDS"
DEFAULTNORMALMAP RCDATA "DEFAULTNORMALMAP.DDS"
TEXTUREERROR RCDATA "TEXTUREERROR.JPG"



