/* ================================
    CSS STYLES FOR OcatneWebExample 
   ================================
*/   

/* TD  { border: solid 1px red } */

HR {
    height:1pt;
    text-align:left;
		color: #CCCCCC;
}

.CODEBLOCK{
    background-color: #557B9D;
    text-decoration: underline;
    text-align:left;
		color: #000000;
    font-size: 15px;
}

A:link  {
    text-decoration: underline;
    color:  black;
}

A, A:hover {
    text-decoration: underline;
    color:  black;
}

BODY
{
    /* background-color: #557B9D; */
    background-color: linen;/*#999999;*/
    /*background-image:URL("gfx/backpattern.gif");*/
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:0;

    font-family: Verdana, Arial;
    font-size: 8px;
    font-weight: normal;
}

.smalltext
{
    FONT-SIZE: 9px;
    COLOR: #000000;
    LINE-HEIGHT: 11px;
    FONT-FAMILY: Verdana, Tahoma, Helvetica;
    text-decoration: none;
}
.smalltext a:hover, .smalltext A:link, .smalltext A:visited, .smalltext A:active
{
    FONT-SIZE: 9px;
    COLOR: #ee0000;
    LINE-HEIGHT: 11px;
    FONT-FAMILY: Verdana, Tahoma, Helvetica;
    text-decoration: underline;
}

.topicHeading {
		margin-bottom: 0px;
    text-align: left;
		FONT-SIZE: 15px;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-FAMILY: Verdana, Tahoma;
		font-weight: bold;
}

.topicDescription {
		margin-top:0px;
    text-align:left;
		FONT-SIZE: 12px;
    COLOR: #696969;
    LINE-HEIGHT: normal;
    FONT-FAMILY: sans-serif, Verdana, Tahoma;
}

.Normal
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    line-height: 10px
}

.DevMenu, .DevMenu A:link, .DevMenu A:visited, .DevMenu A:active, .DevMenu A:hover
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
		color : #ffffff;
}

.SearchTB
{
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: normal;
		font-size: 11px;
		width: 180px;
}

.ocs
{
    font-family: Verdana, Helvetica, sans-serif;
    background-color: linen;
		border-style: ridge;
		border-width:1px;
		border-color:#000000;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    padding-left: 10px;
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		text-align:left;
}
.NormalSmall
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: normal;
    color: #000000;
}

.NormalSmallWhite
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: normal;
    color: #ffffff;
    text-align:left
}

.NovoTrazeno, .NovoTrazeno A:link, .NovoTrazeno A:visited, .NovoTrazeno A:active
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: normal;
    color: #ffffff;
    text-align:left;
    text-decoration: none;
}

.NovoTrazeno, .NovoTrazeno A:hover
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: normal;
    color: #ffffff;
    text-align:left;
    text-decoration:underline;
}

.MenuCaption, .MenuCaption A:link, .MenuCaption A:visited, .MenuCaption A:active
{
    background-color: #436A8C;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
}

.MenuCaption A:hover
{
    background-color: #436A8C;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: normal;
    color: #cc0000;
    text-decoration: none;
}

.RightMenuCaption
{
    background-color: linen;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: normal;
    color: #000000;
}

.oprg {
	FONT-SIZE: 13px;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    font-weight: bold;
    FONT-FAMILY: Verdana, Tahoma, Helvetica
}

.oprgsmall {
	FONT-SIZE: 11px;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-FAMILY: Verdana, Tahoma, Helvetica
}

.CatPager {
	FONT-SIZE: 12px;
    /*background-color: #999999;*/
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-FAMILY: Verdana, Tahoma, Helvetica
}

/* GENERAL */

/* text style used for most text rendered by modules */


.NormalDouble
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 20px
}

/* text style used for textboxes in the admin pages, for Nav compatibility */
.NormalTextBox
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: normal;
}

/* text style used for selects in the admin pages, for Nav compatibility */
.NormalSelect
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: normal;
}

/* text style used for textboxes in the edit pages, for Nav compatibility */
.EditTextBox
{
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 11px;
    border-style: solid;
    border-width: 1px;
    width: 100%;
}

.RegisterTextBox
{
    font-family: Verdana, Helvetica, sans-serif;
    font-weight: normal;
    border-style: solid;
    border-width: 1px;
    width: 90%;
}

/* text style used for controls in the admin and edit pages, for Nav compatibility */
.NormalControl
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
}

/* text style used for checkboxes in the admin and edit pages, for Nav compatibility */
.NormalCheckBox
{
    margin-left: -4px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
}

/* text style used for checkboxes in the admin and edit pages, for Nav compatibility */

.listCat {
	FONT-SIZE: 13px; COLOR: #000000; LINE-HEIGHT: double; FONT-FAMILY: Verdana, Tahoma, Helvetica, sans-serif
}

.NormalRadio
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-indent: -5px;
}

/* text style used for checkboxes in the admin and edit pages, for Nav compatibility */
.NormalButton
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-indent: -5px;
/*    border-style: solid;
    border-width: 1px;
    border-color: #cccc99; */
    background-color:#ccccaa;
}

.NormalRed
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: red
}

.NormalBold
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px
}

.NormalItalic
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px
}

.Reviews
{
    color: #000000;
    font-family: Verdana, Arial;
    font-size: 11px;
    padding-left:5px;
}

SMALL   {
    font-size:  8px;
}

BIG {
    font-size:  14px;
}

BLOCKQUOTE, PRE {
    font-family:    Lucida Console, monospace;
}


UL LI   {
    list-style-type:    square ;
}

UL LI LI    {
    list-style-type:    disc;
}

UL LI LI LI {
    list-style-type:    circle;
}

OL LI   {
    list-style-type:    decimal;
}

OL OL LI    {
    list-style-type:    lower-alpha;
}

OL OL OL LI {
    list-style-type:    lower-roman;
}


